<a href="/">
  <img src="/assets/img/join.me-logo.png" id="logo">
</a>
<a href="https://www.join.me/login.aspx?clusterid=12&returnurl=https%3A%2F%2Fwww.join.me%2Ffederated%2Floginsso.aspx%3Ffwdto%3D&headerframe=https%3A%2F%2Fwww.join.me%2Ffederated%2Fresources%2Fheaderframe2.aspx&productframe=https%3A%2F%2Fwww.join.me%2Ffederated%2Fresources%2Fdefaultframe.aspx&lang=en-US&skin=joinme&regtype=X&trackingproducttype=1&trackinguniqueid=f54b3c33-24b3-4e37-bc6e-788dfa2df387&oauthautologin=1&_ga=GA1.2.515821181.1540568605">
  <h3 id="text">Log In</h3>
</a>
<app-menu-button></app-menu-button>
<h1 id="centerText">JUST JOIN.ME TO</h1>
<h1 id="centerText1">MAKE A DIFFERENCE</h1>
<div class="text-block">
  <h1 class="bold">HOST A FREE MEETING</h1>
  <h2>Create a FREE account <br>
    and host a meeting now.</h2>
  <button class="btn" id="button1">GET STARTED</button>
</div>
<div class="text-block1">
  <h1 class="bold">JOIN A MEETING</h1>
  <h2>Did someone send you a meeting code?<br>
  Please enter it here to join a meeting.</h2>
  <button class="btn" id="button2">JOIN MEETING</button>
</div>
<img src="/assets/img/HeaderPic.jpg" id="backImage">