<div class="content">
  <ul>
    <p><b>About</b></p>
  </ul>
  <ul>
    <p><b>Features</b></p>
  </ul>
  <ul>
    <p><b>join.me For</b></p>
  </ul>
  <ul>
    <p><b>Support</b></p>
  </ul>
  <ul>
    <p><b>Sales</b></p>
  </ul>
</div>
<!-- add links to social media later -->
<div id="socialMedia">
<img src="/assets/img/twitter.png">
<img src="/assets/img/googleplus.png">
<img src="/assets/img/facebook.png">
<img src="/assets/img/linkedin.png">
<img src="/assets/img/instagram.png">
</div>
<footer>Copyright © 2018 LogMeIn, Inc. All rights reserved. Terms & Conditions | Privacy Policy</footer>