
<!-- add links to each of the tags below -->

      <ul>
        <p><b>About</b></p>
        <li>Company</li>
        <li>Integrations</li>
        <li>Apps</li>
        <li>Blog</li>
        <li>Security</li>
        <li>Resources</li>
        <li>Developer API</li>
      </ul>
  
    <ul>
      <p><b>Features</b></p>
      <li>Mobile</li>
      <li>Webinar</li>
      <li>Toll-free Audio</li>
      <li>Screen Sharing</li>
      <li>Video Conference</li>
      <li>Free Conference Call</li>
      <li>With Slack</li>
    </ul>

    <ul>
      <p><b>join.me For</b></p>
      <li>Individuals</li>
      <li>Teams</li>
      <li>Businesses</li>
    </ul>
 
    <ul>
      <p><b>Support</b></p>
      <li>Contact Support</li>
      <li>Knowledge Base</li>
      <li>Uninstall</li>
      <li>GDPR</li>
    </ul>
  
    <ul>
      <p><b>Sales</b></p>
      <li>1-877-251-8373</li>
      <li>Contact Sales</li>
      <li>Pricing & plans</li>
      <li>Request a demo</li>
      <li>Webinars & events</li>
    </ul>

<!-- add links to social media later -->

<app-social-media></app-social-media>
<footer>Copyright © 2018 LogMeIn, Inc. All rights reserved. Terms & Conditions | Privacy Policy</footer>