
<!-- add links to each of the tags below -->

      <ul>
        <p><b>About</b></p>
        <a href="https://www.join.me/company">
          <li>Company</li>
        </a>
        <a href="https://www.join.me/our-integrations">
          <li>Integrations</li>
        </a>
        <a href="https://www.join.me/apps">
          <li>Apps</li>
        </a>
        <a href="https://blog.join.me/?_ga=2.242694337.295800627.1541103872-515821181.1540568605">
          <li>Blog</li>
        </a>
        <a href="https://www.join.me/security">
          <li>Security</li>
        </a>
        <a href="https://www.join.me/resources">
          <li>Resources</li>
        </a>
        <a href="https://developer.join.me/?_ga=2.242694337.295800627.1541103872-515821181.1540568605">
          <li>Developer API</li>
        </a>
      </ul>
  
    <ul>
      <p><b>Features</b></p>
      <a href="https://www.join.me/mobile">
        <li>Mobile</li>
      </a>
      <a href="https://www.join.me/solutions/free-webinar-software">
        <li>Webinar</li>
      </a>
      <a href="https://www.join.me/toll-free">
        <li>Toll-free Audio</li>
      </a>
      <a href="https://www.join.me/screen-sharing">
        <li>Screen Sharing</li>
      </a>
      <a href="https://www.join.me/video-conferencing">
        <li>Video Conference</li>
      </a>
      <a href="https://www.join.me/solutions/free-conference-call">
        <li>Free Conference Call</li>
      </a>
      <a href="https://www.join.me/with-slack">
        <li>With Slack</li>
      </a>
    </ul>

    <ul>
      <p><b>join.me For</b></p>
      <a href="">
        <li>Individuals</li>
      </a>
      <a href="">
        <li>Teams</li>
      <a href="">
      </a>
        <li>Businesses</li>
      </a>
    </ul>
 
    <ul>
      <p><b>Support</b></p>
      <li>Contact Support</li>
      <li>Knowledge Base</li>
      <li>Uninstall</li>
      <li>GDPR</li>
    </ul>
  
    <ul>
      <p><b>Sales</b></p>
      <li>1-877-251-8373</li>
      <li>Contact Sales</li>
      <li>Pricing & plans</li>
      <li>Request a demo</li>
      <li>Webinars & events</li>
    </ul>

<!-- add links to social media later -->

<app-social-media></app-social-media>
<footer>Copyright © 2018 LogMeIn, Inc. All rights reserved. Terms & Conditions | Privacy Policy</footer>