<div id="socialMedia">
  <a href="https://twitter.com/joinme">
    <img src="/assets/img/twitter.png">
  </a>
  <a href="https://plus.google.com/u/0/+joinme">
    <img src="/assets/img/googleplus.png">
  </a>
  <a href="https://www.facebook.com/join.me">
    <img src="/assets/img/facebook.png">
  </a>
  <a href="https://www.linkedin.com/company/join-me">
    <img src="/assets/img/linkedin.png">
  </a>
  <a href="https://www.instagram.com/join.me/">
    <img src="/assets/img/instagram.png">
  </a>
</div>