#text1{
  font-size: 48px;
  color: #333;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-top: 5%;
  display: block;
  margin-bottom: 24px;
}

.content{
  text-align: center;
  margin-left: 27%;
  margin-right: 27%;
  display: block;
}

a{
  color: #ff8e00;
  text-align: left;
}

p{
  margin: 24px;
  line-height: 1.6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 16px;
  text-align: left;
}

h2{
  text-align: left;
  margin-bottom: 5%;
  font-size: 48px;
  font-family: "Rubik",sans-serif;
}