<div class="content">
  <h2 id="text1">It's now easier than ever to personalize your join.me experience. Here's a quick tour to get you started making join.me your own.</h2>
  <div class="row">
  
    <div class="col-sm-6">
      <h2>Claim your own personalized URL.</h2>
      <p>Customize your meeting link to whatever you want. Brand it to your company, to the meeting subject, or even to match
      your personality. Setting up your personal link means that folks joining your meeting get familiar with you and your
      brand before they have even entered the meeting.</p>
      <!-- also has small orange arrow to add next to a tag -->
      <a>Claim your personal link for FREE</a>
    </div>
    <div class="col-sm-6">
      <img src="/assets/img/InviteImage.png" alt="bodyPicture1">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <img src="/assets/img/NameImage2.png" alt="bodyPicture2">
    </div>
    <div class="col-sm-6">
      <h2>Customize your meeting background.</h2>
      <p>Your personal background works in tandem with your personal URL. They both make your account and your meeting room
      uniquely yours. Give your meeting attendees a fun picture to look at, or brand the background with a company logo. It's
      simple to change so you can even switch it up for the holidays, get creative! It's all yours.</p>
      <a>Try join.me FREE</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h2>Better audio.</h2>
      <p>join.me toll-free, powered by OpenVoice Integrated, blends seamlessly with the join.me features you rely on every day:
      audio, recording, scheduling, and remote control. With toll-free, you never have to worry about a customer footing the
      bill for dialing into your meeting. You get competitive rates with no hidden costs or overage fees. Security is
      enterprise-class, and you keep 24/7 administrative control over your account. That's what we call showing work who's
      boss.</p>
      <a>Try join.me FREE</a>
    </div>
    <div class="col-sm-6">
      <img src="/assets/img/AudioImage3.png" alt="bodyPicture3">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img src="/assets/img/ScreenSharing4.png" alt="bodyPicture4">
    </div>
    <div class="col-md-6">
      <h2>One Click Screen Sharing.</h2>
      <p>Getting everyone on the same page is easy when join.me instant screen sharing is involved. When you start your meeting,
      simply press the "broadcast" button and you're ready to go. It's that simple. And with join.me's pass presenter
      feature, you can engage with your audience at an even deeper level. Collaboration is efficient, easy, and hassle-free –
      and you dont't have to be in the same room to do it.</p>
      <a>Try join.me FREE</a>
    </div>
  </div>
</div>
