<div id="right">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="https://www.join.me/why-joinme">Individuals</a>
      <a class="dropdown-item" href="https://www.join.me/for-teams">Teams</a>
      <a class="dropdown-item" href="https://www.join.me/for-businesses">Business</a> 
      <a class="dropdown-item" href="https://www.join.me/features">Features</a>
      <a class="dropdown-item" href="https://www.join.me/pricing4">Pricing</a>
    </div>
  </div>
</div>