<app-header></app-header>
<app-body></app-body>
<div class="center">
  <h2>Personalize join.me for free!</h2>
  <a class="btn btn-primary" id="button" href="https://www.join.me/registration.aspx?clusterid=12&returnurl=https%3A%2F%2Fwww.join.me%2Ffederated%2Floginsso.aspx%3Flang%3Den-US&headerframe=https%3A%2F%2Fwww.join.me%2Ffederated%2Fresources%2Fheaderframe2.aspx&productframe=https%3A%2F%2Fwww.join.me%2Ffederated%2Fresources%2Fdefaultframe.aspx&lang=en-US&skin=joinme&regtype=X&trackingproducttype=1&trackinguniqueid=f54b3c33-24b3-4e37-bc6e-788dfa2df387&oauthautologin=1&_ga=GA1.2.515821181.1540568605">Get Started</a>
</div>
<hr />
<app-footer></app-footer>