.center{
  text-align: center;
}

#button{
  font-size: 18px;
  display: inline-block;
  width: 100%;
  max-width: 280px;
  margin: 5px 0;
  padding: 1.125em 2em;
  border-radius: .5em;
  font-family: "Rubik",sans-serif;
  font-weight: 700;
  line-height: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ff8e00;
}
